* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alice', serif;
    font-size: 32px;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    color: #162078;
}

/* Стили шапки и футера*/
.container {
    background-color: #E38B27;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    align-items: center;
}

nav {
    display: flex;
    gap: 18px;
    align-items: center;
}

.btn {
    cursor: pointer;
}


/* Окно добавление котика */
/* стили модального окна */
.popup {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    background-color: rgba(192, 192, 192, 0.80);
}

.popup.active {
    display: flex;
}

.popup__container {
    width: calc(100% - 40px);
    max-width: 400px;
    max-height: calc(100% - 40px);
    overflow: hidden auto;
    position: relative;
    padding: 20px;
    border: 1px solid #162078;
    box-shadow: 0 16px 36px rgb(22 32 120 / 22%);
    border-radius: 6px;
    background-color: #fff;
    box-sizing: border-box;
}

.popup__container h2 {
    font-size: 0.75em;
    margin-bottom: 18px;
    margin-top: 0;
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border: 1px solid #162078;
    border-radius: 50%;
    cursor: pointer;
}
.popup__close:hover {
    background-color: #162078;
    color: #fff;
}

.popup__image {
    max-width: 100%;
    background-size: cover;
}

.popup-login h2 {
    text-align: center;
}

#popup-form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* стили контента модального окна */

.form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 18px;
}

.form__input {
    display: grid;
    gap: 6px;
}

.form__input input {
    width: 100%;
}

.column_2 {
    grid-column: 2 / 4;
}

.column_3 {
    grid-column: 1 / 4;

}

.form__btn {
    grid-column-start: 3;
}

textarea {
    resize: vertical;
}

label {
    cursor: pointer;
    user-select: none;
    font-size: 0.5em;
}

[type="checkbox"] {
    visibility: hidden;
}

.form [type="checkbox"] + label {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

[type="checkbox"] + label:before {
    font-family: "Font Awesome 6 Free";
    content: "\f004";
    display: flex;
    width: 24px;
    height: 24px;
    border-radius: 6px;
    border: 1px solid #162078;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: -30px;
}

[type="checkbox"]:checked + label:before {
    color: #E38B27;
    font-weight: 900;
}

.form__input input:focus, textarea:focus, #popup-form-login input:focus {
    background-color: #E38B27;
}
.form .btn {
    grid-column-start: 3;
    background-color: #162078;
    border: none;
    outline: none;
    color: #fff;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    font: inherit;
    padding: 0 12px;
    font-size: 0.5em;
}
.form .btn:hover {
    background-color: #E38B27;
}


/* Карточка кота */
.cards {
    display: grid;
    gap: 18px;
    align-content: flex-start;
    align-items: stretch;
    padding-bottom: 20px;
}
.card {
    border: 1px solid silver;
    display: grid;
    gap: 12px;
    padding: 18px;
    border-radius: 6px;
    position: relative;
    text-align: center;
    font-size: 0.5em;
}

.card__image {
    width: 100%;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
}

.card__link h2 {
    margin: 0;
}

.card__like {
    display: flex;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #162078;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
    justify-content: center;    
    align-items: center;
    color: #162078;
}

.card__like_active {
    color: #E38B27;
}


.card a {
    text-decoration: none;
    color: #162078;
}

/* Информация о коте */
.popup-cat-info .popup__container{
    padding: 5px;
}

.cat-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 6px;
}

.cat-info__image {
    width: 100%;
    grid-column: 1 / 4;
}

.cat-info__id {
    grid-column: 1 / 2;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #E38B27;
    color: #162078;
}
.cat-info__id:before {
    content: "id";
    font-size: 20px;
    font-weight: bold;
}

.cat-info__title {
    grid-column: 2 / 3;
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cat-info__title h2 {
    margin: 0;
}

.cat-info__rate, .cat-info__desc {
    grid-column: 1 / 4;
    font-size: 0.6em;
    text-align: center;
}

.cat-info__age {
    grid-column: 3 / 4;
    font-size: 0.8em;
    text-align: center;
}

.cat-info__desc {
    margin: 0;
}

.cat-info__favourite {
    border: none;
    border-color: transparent;
    color: #162078;
    cursor: pointer;
}

.cat-info__favourite_active {
    color: #E38B27
}

/* Кнопки */
.cat-info__edited, .cat-info__saved, .cat-info__deleted {
    background-color: #162078;
    border: none;
    outline: none;
    color: #fff;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    font: inherit;
    font-size: 0.5em;
    height: 100%;
    padding: 0 5px;
}

.cat-info__edited:hover, .cat-info__saved:hover, .cat-info__deleted:hover {
    background-color: #E38B27;
}

.cat-info [contentEditable="true"] {
    box-shadow: 0 0 1px 1px rebeccapurple;
    outline: none;
}

.cat-info [contentEditable="true"]:focus {
    box-shadow: 0 0 1px 1px rgb(188, 12, 56);
    outline: none;
}

/* Основной контент */

.main {
    min-height: 100%;
    background-color: #eee;
}



@media(max-width: 699px) {
    .container {
        flex-direction: column;
        padding: 10px 5px;
    }

    nav {
        padding-top: 20px;
    }
}

@media (min-width: 350px) and (max-width: 699px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 700px) and (max-width: 1039px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
    .container {
        padding: 10px 5px;
    }
}
@media (min-width: 1040px) {
    .container {
        padding: 20px calc(50% - 500px)
    }

    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
}